/*
  Archivo index.css:
  Contiene los estilos estrictamente globales. 
  Aquí también le decimos a Tailwind CSS v4 que se inicialice y configure 
  por medio de @import "tailwindcss".
*/
@import "tailwindcss";

body {
  margin: 0;
  background-color: #0a0f2c;
  color: #ffffff;
  font-family: Inter, system-ui, sans-serif;
  background-image: 
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 3px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 3px);
  background-size: 550px 550px, 350px 350px, 250px 250px;
  background-position: 0 0, 40px 60px, 130px 270px;
}